package page

import "github.com/bdtomlin/gostak/internal/model"
import "github.com/bdtomlin/gostak/web/layout"

templ ListUsers(users []model.User) {
	@layout.Default() {
		<div class="text-neutral-200">
			for _, u := range(users) {
				<div>User id is: { u.ID }</div>
			}
		</div>
	}
}
