package pages

import "github.com/bdtomlin/gostak/internal/model"
import "github.com/bdtomlin/gostak/internal/layouts"

templ AuthorList(authors []model.Author) {
	@layouts.Default() {
		for _, a := range(authors) {
			<div>Author id is: { a.Name }</div>
		}
	}
}
